@charset "utf-8";
/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700';

html{
        font-size: 16px;
}

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    line-height:1.5;
    color: #333333;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    margin: .8rem 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: .7rem 0;
}

p{
    font-size: 1rem;
}

hr {
    border-bottom: 1px solid #d9d9d9;
}

.wrap-container{
    padding-top: 0px;
}

.home{
    padding-top: 0px;
}
/*----------colors---------------*/
.verde{
    color: #84B522;
}

.naranja{
    color: #f47010;
}

.lght-gris{
    color: color: #77776d;    
}

.drk-gris{
    color: #33332F;
}
/*-------------------------------*/
/*----------- Camera slider-------*/
		a {
			color: #f47010;
		}
		a:hover {
			text-decoration: none;
            color:  #f47010;
		}
		#back_to_camera {
			clear: both;
			display: block;
			height: 80px;
			line-height: 40px;
			padding: 20px;
		}
		.fluid_container {
			margin: 0 auto;
			width: 100%;
            /*margin-top: 85px;*/
		}
/*--------------------------------*/

.titulo-seccion{
    position: relative;
    text-align: center;
    font-size: 1.625rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.titulo-seccion:before {
    left: 0%;
}

.titulo-seccion:after {
    right: 0%;
}

.titulo-seccion:before, .titulo-seccion:after{
    width: 25%;
    height: 3px;
    display: block;
    position: absolute;
    top: 13px;
    content: '';
    background: #33332F;
}

/*-------------- home-------------*/
.modulos{
    margin-bottom: 30px;
}

.modulos hr{
    border-bottom: 1px solid #d9d9d9;
    margin: 0px 0px 10px;
}

.modulos .titulo-verde,
.modulos .titulo-naranja{
    color: #33332F;
    font-family: 'Monserrat', sans-serif;
    font-size: 0.95rem;
    font-weight: 800;
    transition: .5s all;
    text-transform: uppercase;
}

.modulos:hover .titulo-verde{
    color: #84B522;
    font-size: 0.95rem;
    font-weight: 800;
    transition: .5s ease-out;
}

.modulos:hover .titulo-naranja{
    color: #f47010;
    font-size: 0.95rem;
    font-weight: 800;
    transition: .5s ease-out;
}

.modulos p{
    color: #77776d;
    font-size: 0.87rem;
    font-weight: 600;
}

.modulos:hover p{
    color: #444;
    font-size: 0.87rem;
    font-weight: 600;
}

.modulos .ind-icons{
    opacity: .6;
    transition: .5s ease-out;
}

.modulos:hover .ind-icons{
    opacity: 1;
    transition: .5s all;
}

.cont-porque{
    padding-bottom: 3%;    
}

.porque{
    background-color: #f4f3f0;
    border: 1px solid #e2e1db;
    padding: 10px;
    overflow: hidden;
}

.porque img {
    max-width: 300px;
}

.porque h3 {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    color: #FFFFFF;
    margin-top: 0px;
    display: block;
    position: absolute;
    top: 25%;
    left: 0%;
}

.porque h3.capacitacion:before {
    width: 0%;
    height: 3px;
    margin-top: -10px;
    display: block;
    position: absolute;
    left: 100%;
    content: '';
    background: #fff;
    opacity: 0;
    transition: .3s linear;
}

.porque h3.capacitacion:after {
    width: 0%;
    height: 3px;
    margin-top: 7px;
    display: block;
    position: absolute;
    left: -50%;
    content: '';
    background: #fff;
    opacity: 0;
    transition: .3s linear;
}
.porque:hover h3.capacitacion:before {
    width: 50%;
    left: 25%;
    opacity: 1;
}

.porque:hover h3.capacitacion:after {
    width: 50%;
    left: 25%;
    opacity: 1;
}

.check-list{
    list-style-image: url(../images/inicio/check-list.png);
    text-align: left;
    min-height: 280px;
}

.check-list li{
    padding: 10px 0px;
}

/*---------------------------------*/

/*-----------------Equipo-------------------*/


#equipo .nombre p{
   color: #84B522; 
   font-weight: bold; 
}

#equipo .nombre p span { 
    color: #7e7d7d;  
}

#equipo .integrante {
    margin-bottom: 4%;
}

/*#equipo .experiencia .descripcion p {
    margin-top: 17%;
}*/

.texto-equipo{
    margin-top: 15px;
    margin-bottom: 37px;
}

.linkedin{
  float: left;
  margin-right: 1%;
}

#equipo .fa:hover{
    color: #1C87BD;
}

.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 270px;
    width: 270px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-top: 53px;
    margin-left:10%;  
}

.trabajos{
    background-color: #f4f3f0;
    border: 1px solid #e2e1db;
    padding: 10px 0px;
    min-height: 650px;
    margin-bottom: 10px;
}

.trabajos .titulo-verde,
.trabajos .titulo-naranja{
    color: #33332F;
    font-family: 'Monserrat', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2rem;
    transition: .5s all;
}

.trabajos:hover .titulo-verde{
    color: #84B522;
    font-size: 0.95rem;
    font-weight: 800;
    transition: .5s ease-out;
}

.trabajos:hover .titulo-naranja{
    color: #f47010;
    font-size: 1.2rem;
    font-weight: 800;
    transition: .5s ease-out;
}

.trabajos hr{
    width: 90%;
}

.trabajos img{
    max-width: 340px;
}

.trabajos p{
    padding: 0px 20px;
    text-align: justify;
}
/*---------------------------------*/
/*------------------ Empresa ----------------*/
.sub-menu{
    color: #FFF;
    font-size: 16px;
    /*margin-top:  -100px;*/
}

.boton{
    background: #33332f;
    padding: 5%;
    text-align: center;
    transition: 1.2s all;
}
.boton:hover{
    background: rgba(228, 78, 60, 1);
}

.sobre{
    padding: 3% 0px;
}

.sobre p{
    font-size: 20px;
}

.sobre h2 span{
    font-weight: bold;
}

.sobre p.eslogan {
    margin-bottom: 5%;
    font-size: 30px;
}

.sobre-secc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f4f3f0;
    border: 1px solid #dedede;
    padding: 0px;
}

.cont-texto{
    font-size: 1rem;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}

.cont-texto:before{
	content: '';
	position: absolute;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
	top: -6px;
	bottom: -6px;
	left: -6px;
	right: -6px;
	transition-duration: 0.4s;
	opacity: 0;
}

.cont-texto:hover:before{
	opacity: 1;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
}

.triangulo:after{
    content: "";
    border: 2px solid;
    border-width: 15px 15px 15px 0;
    border-color:  transparent #5c5c5c  transparent #5c5c5c;
    background: #f4f3f0;
    position: absolute;
    right: 0;
    top: 45%;
}

.triangulo-izq:after{
    content: "";
    border: 2px solid;
    border-width: 15px 0px 15px 15px;
    border-color:  transparent #5c5c5c  transparent #5c5c5c;
    background: #f4f3f0;
    position: absolute;
    left: 0;
    top: 45%;
}

.sobre-img.izq{
    padding: 0px;
    /*padding-left: 0px;*/
    border-left: 2px solid #5c5c5c;
}

.sobre-img.der{
    padding: 0px;
    /*padding-left: 0px;*/
    border-right: 2px solid #5c5c5c;
}

.sobre-img.oscuro:before{
	content: '';
	position: absolute;
	border: 2px solid #5c5c5c;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	transition-duration: 0.4s;
	opacity: 0;
}

.sobre-img.claro:before{
	content: '';
	position: absolute;
	border: 2px solid #FFF;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	transition-duration: 0.4s;
	opacity: 0;
}

.sobre-img.claro:hover:before, .sobre-img.oscuro:hover:before{
	opacity: 1;
	top: 8px;
	bottom: 8px;
	left: 8px;
	right: 8px;
}

#capacitacion img{
    transition: 0.4s; 
}
#capacitacion .cont-img{
    overflow: hidden;
}

#capacitacion img:hover{
    transition: 0.4s linear;
    transform: scale(1.1);
}

#equipo{
    margin-top: 20px;
}
/*-------------------------------------------- */

/*-------------------------------diplomados------------------------------------------*/

#diplomado {
  background-color: #fff;
  padding: 0;
}
.separador-dip-xs{
  margin-top: 85px;
}
#diplomado .container .row h1 {
    color: #6D8D28;
}
#diplomado .container .row .titulo-md {
  font-size: 42px;
}
#diplomado .container .row .titulo-sm {
  font-size: 32px;
}
#diplomado .container .row .titulo-xs {
  font-size: 28px;
}
#diplomado .container .row .sub-titulo-md {
  font-size: 32px;
}
#diplomado .container .row .sub-titulo-sm {
  font-size: 22px;
}
#diplomado .container .row .sub-titulo-xs {
  font-size: 18px;
}
/* line 6, ../../../app/assets/sass/paginas/_inicio.scss */
#diplomado .container .row h2 {
  font-family: "Questrial", sans-serif;
  color: #555555;
}
.thumbnail h4 {
  font-family: "Questrial", sans-serif;
  color: #3594D6;
  font-weight: bold;
}
/* line 9, ../../../app/assets/sass/paginas/_inicio.scss */
#diplomado .container .row h2 span {
  font-weight: bold;
  color: #3594D6;
}
/* line 17, ../../../app/assets/sass/paginas/_inicio.scss */
#diplomado .container > .gest .col-md-4 > p {
  margin: 10% 0;
  color: #555555;
}
/* line 20, ../../../app/assets/sass/paginas/_inicio.scss */
#diplomado .container > .gest .col-md-4 > p a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
/* line 27, ../../../app/assets/sass/paginas/_inicio.scss */
#diplomado .container > .row .col-md-4 > p.eslogan {
  font-family: "Questrial", sans-serif;
  font-size: 22px;
  color: #3594D6;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
.atras{
  float: right;
  width:50px;
  height:41px;
  margin-bottom: 10px;
}

a:hover .{
    opacity: 0.5;
}

.inscribete {
  text-align: center;
  background-color: #3594D6;
  padding: 20px;
  line-height: 1.5;
}
.inscribete a {
  font-size: 24px;
  color: #F0F0F0;
}
.inscribete a:hover, .inscribete a:focus, .inscribete a:active, .inscribete a.active, .open > .inscribete a.dropdown-toggle {
  color: #fff;
}
#descr-dip{
  background-color: #EFEFEF;
  text-align: justify;
  min-height: 610px;
}
#descr-dip .titulo{
  padding-bottom: 20px;
}
.descr-dip-link{
  color: #333333;
}

.descr-dip-link:hover{
    color: #3594D6;
}

.descr-dip-img{
  float: right;
  margin: 5px 0px 15px 25px;
}
.dip-icons{
  max-width: 100%;
  margin: 10px auto;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a:hover .dip-icons{
  -webkit-transform: scale(1.2);
  -webkit-transition: all 0.4s ease-in-out;
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
.separador{
  background: #3594D6;
  padding: 1% 0%;
}
a.link-bloq-cap, a.link-bloq-cap:hover, a.link-bloq-cap:visited{
  color:  #4D4D4D;
}
.bloq-cap {
  min-height: 268px;
  padding:30px 30px 5px 30px;
  background-color: #FFFFFF;
  border: 1px solid #788F84;
  border-radius: 3px; 
}
.bloq-cap:hover {
  background-color: #CCCCDC;
  border: 1px solid #C19C87;
  }
.bloq-cap-tit{
  margin-top: 20px;
  padding-top: 20px;
  font-family: "Questrial", sans-serif;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  border-top: 2px solid #53749B;
}
/*---------------------- Este es para los cuadros de los cursos en la nueva seccion-------*/
.recuadro{
    font-size: 110%;
    font-weight: bold;
    color: #000;
    padding: 1.5em;
    border-radius: 8px;
    min-height: 115px;
}
.recuadro:hover{
    color: #FFF;
    border-radius: 22px;
}
.recuadro-grd{
    font-size: 120%;
    font-weight: bold;
    color: #000;
    padding: 0.3em;
    border-radius: 8px;
    min-height: 115px;
}
.recuadro-grd:hover{
    color: #FFF;
    border-radius: 22px;
}
.recuadro-dip{
    font-size: 120%;
    color: #000;
    padding: 0.3em;
    border-radius: 8px;
    min-height: 115px;
}
.recuadro-dip:hover{
    color: #3595D7;
}
.flecha{
    min-height: 50px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-top: 0.5em;
}
.flecha:hover{
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transform: scale(1.2);
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
}
.dip-img{
    margin: 0 auto;
    min-height: 50px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-top: 0.5em;
}
.dip-img:hover{
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transform: scale(1.2);
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
}
/*-----------colores--------------------*/
.verd{
    background-color:#6b9337;
    border: 2px solid #467e00;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.verd:hover{
    background-color:rgba(85, 152, 0, .8);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.ocre{
    background-color:#D57D33;
    border: 2px solid #a5632b;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.ocre:hover{
    background-color:rgba(213, 125, 51, .8);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.vino{
    background-color:#811f65;
    border: 2px solid #5d0945;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.vino:hover{
    background-color:rgba(129, 11, 95, .8);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.azul-claro{
    background-color:#337eb9;
    border: 2px solid #005ea8;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.azul-claro:hover{
    background-color:rgba(51, 126, 185, .8);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.turq-oscuro{
    background-color:#387c93;
    border: 2px solid #00465d;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.turq-oscuro:hover{
    background-color:rgba(56, 124, 147, .8);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/*------------------------------------------------------------------------------------*/

/*------------------------- cursos --------------------*/
#cursos .container .titulo {
    margin-bottom: 5%;
}
#cursos  .nomb-areas{
 margin-top: 80px;
}

#cursos .iconos-cursos img{
    float: left;
    margin: -30% 0 0 -30%;
    width: 40%;
    border: 1px solid #000000;
    border-radius: 4px;
}

#cursos .container p{
  color: #333333
}

#cursos .lista{
  color: #FFFFFF;
}

#cursos .lista li{
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

#cursos .lista .is{
  background-color: #646F9F;
  padding: 5%;
  min-height:  780px;
}

#cursos .lista .gi{
  background-color: #577F5C;
  padding: 5%;
  min-height:  780px;
}

#cursos .lista a{
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #FFFFFF;
  text-decoration: none;
}
#cursos .lista a:hover{
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #C9C9C9;
  text-decoration: none;
}
/* line 105, ../../../app/assets/sass/paginas/_capacitacion.scss */
#cursos .container .cuadro {
  padding: 5% 0;
  background-color: #FFF;
  width: 80%;
  margin: 0 auto;
}
/* line 110, ../../../app/assets/sass/paginas/_capacitacion.scss */
#cursos .container .cuadro img.titulo {
  margin-left: -46px;
  margin-bottom: 2%;
}
/* line 114, ../../../app/assets/sass/paginas/_capacitacion.scss */
#cursos .container .cuadro .lista {
  padding-left: 10%;
}
/* line 117, ../../../app/assets/sass/paginas/_capacitacion.scss */
#cursos .container .cuadro .lista .titulo p {
  font-size: 20px;
}

/*--------------------------------------------*/
@media screen and (max-width: 1024px){

    .check-list{
        min-height: 310px;
    }
    
}

@media (max-width: 991px) {
    .avatar{
        margin: auto !important;
        margin-bottom: 2% !important;
    } 

    #equipo .nombre{
        text-align: center !important;
        margin-top:2%; 
    }

    #equipo .nombre .linkedin{
        float: none;
    }

    #equipo .nombre .text-left{
        text-align: center;
    }
}

    /*#equipo .experiencia .descripcion p {
    margin-top: 23%;
    }*/
}

@media screen and (max-width: 800px){

    .check-list{
        min-height: auto;
    }
    
}

@media (max-width: 767px) {
    .texto-equipo {
        margin-top: 143px;
    }
}

@media screen and (max-width: 680px){

    .titulo-seccion:before, .titulo-seccion:after{
    width: 15%;
    }
}

@media (max-width: 400px) {
    #equipo .titulo-seccion{
       font-size: 1.1rem; 
    }
}

@media screen and (max-width: 320px){

    h4.boton{
        font-size: 12px;
    }
}